html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

h1,
h2 {
    color: darkred;
}

h3, 
p,
li {
    color: rgb(11, 27, 11);
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: rgb(142, 142, 30);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: rgb(128, 53, 0);
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 100%;
    height: auto;
    background-color: white;
}

#banner img {
    width: 60%;
    height: auto;
}

.service {
    display: inline-block;
    background-color: rgb(145, 18, 18);
    border: 5px solid rgb(12, 22, 12);
    border-radius: 5px;
    color: rgb(44, 49, 133);
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

table {
    border: 3px solid rgb(95, 3, 79);
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}